<!DOCTYPE html>
<html>
    <head>
        <title>Estudiantes</title>
        <link href="/public/css/styles.css"/>
    </head>
    <body>
        <div>
            <h3>Lista de estudiantes</h3>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% estudiantes.forEach(estudiante => { %>
                    <tr>
                        <td><%estudiante.Nombre%></td>
                        <td><%estudiante.Apellido%></td>
                        <td><%estudiante.Email%></td>
                    </tr>
                    <%}) %>
                </tbody>
            </table>
        </div>
    </body>
</html>